<action 
  [cond]="member().canRemove()"
  (submit)="on_submit()" 
  (cancel)="member().redrawRemove()"
>
  <div class="border-2 col-span-4 flex flex-wrap rounded-lg bg-gray-950 border-gray-500 hover:border-gray-950">
    @for(son of get_restored(); track son.id) {
    <button
      (click)="remove(son.id)"
      class="m-5 p-5 border-4 h-20 rounded-full bg-lime-700 hover:bg-red-700 hover:text-white"
    >{{son.name()}}</button>
    }
    @for(son of get_removed(); track son.id) {
    <button
      (click)="restore(son.id)"
      class="m-5 p-5 border-4 h-20 rounded-full bg-red-700 hover:bg-lime-700 hover:text-black  text-white"
    >{{son.name()}}</button>
    }
  </div>
</action>