<action 
  [cond]="actions()?.remove_son()"
  (submit)="on_submit()" 
  (cancel)="actions()?.remove_son_done()"
>
  <div class="border-2 col-span-4 flex flex-wrap rounded-lg bg-gray-950 border-gray-500 hover:border-gray-950">
    <button
      *ngFor="let son of get_restored()"
      (click)="remove(son.id)"
      class="m-5 p-5 border-4 h-20 rounded-full bg-lime-700 hover:bg-red-700 hover:text-white"
    >{{son.name()}}</button>
    <button
      *ngFor="let son of get_removed()"
      (click)="restore(son.id)"
      class="m-5 p-5 border-4 h-20 rounded-full bg-red-700 hover:bg-lime-700 hover:text-black  text-white"
    >{{son.name()}}</button>
  </div>
</action>