<form
  *ngIf="actions()?.add_son()"
  (submit)="submit_add_son($event)"
  class="grid grid-cols-4 justify-content-center justify-items-center gap-5 p-10 m-28 border-4 inset-0 rounded-lg z-50 absolute bg-white"
>
  <input
      class="col-span-4 text-center border-2 mx-5 p-2 text-2xl rounded-lg"
      placeholder="الاسم"
      required
  />
  <select class="col-span-4 text-center border-2 m-5 p-5 text-3xl rounded-lg">
      <option value="true" class="text-center border-2 mx-5 p-2 text-2xl">
          {{is_only() ?  "ذكر": "ذكور" }}
      </option>
      <option value="false" class="text-center border-2 mx-5 p-2 text-2xl">
          {{is_only() ? "انثي" : "اناث" }}
      </option>
  </select>
  <button
      class="border-2 h-20 col-span-2 text-2xl p-5 m-5 rounded-lg hover:rounded-full"
      type="submit"
  >
      "تاكيد"
  </button>
  <button
      class="border-2 h-20 col-span-2 text-2xl p-5 m-5 rounded-lg hover:rounded-full"
  >
      "الغاء"
  </button>
</form>
