<action 
    [cond]="member().actions.add_son()" 
    (submit)="on_submit()"
    (cancel)="member().actions.add_son_done()"
>
  <input
      [formControl]="name"
      (input)="on_input()"
      class="col-span-4 placeholder:text-center placeholder-gray-400 bg-gray-800 border-gray-500 hover:border-gray-800 text-center border-2 mx-5 p-2 text-4xl rounded-lg w-96"
      placeholder="الاسم"
      required
  />
  <select 
    [formControl]="is_male"
    class=" col-span-4 bg-gray-800 border-gray-500 hover:border-gray-800 text-center border-2 mx-5 text-4xl rounded-lg w-56"
  >
      <option value="1" class="text-center p-5 text-4xl">
          {{is_only() ?  "ذكر": "ذكور" }}
      </option>
      <option value="" class="text-center p-5 text-4xl">
          {{is_only() ? "انثي" : "اناث" }}
      </option>
  </select>
</action>